In [1]:
import pandas as pd
people = {
    "first": ["Corney", "Jane", "Dima"], 
    "second": ["Spiler", "Doe", "Markow"], 
    "email" : ["ssd@", "sdfd@", "gbbhn@"]
}

In [2]:
df = pd.DataFrame(people)
df

    first  second   email
0  Corney  Spiler    ssd@
1    Jane     Doe   sdfd@
2    Dima  Markow  gbbhn@

In [3]:
df.set_index('second') #set as index second name, if we want to provide changes inplase = True

         first   email
second
Spiler  Corney    ssd@
Doe       Jane   sdfd@
Markow    Dima  gbbhn@

In [4]:
df.set_index('second', inplace=True)

In [5]:
df

         first   email
second
Spiler  Corney    ssd@
Doe       Jane   sdfd@
Markow    Dima  gbbhn@

In [6]:
df.loc['Markow', 'email']

'gbbhn@'

In [7]:
df.reset_index(inplace=True)
df

   second   first   email
0  Spiler  Corney    ssd@
1     Doe    Jane   sdfd@
2  Markow    Dima  gbbhn@

In [10]:
filt = (df['second'] == 'Markow') #->Series of [True, False] "filter mask"

In [11]:
filt

0    False
1    False
2     True
Name: second, dtype: bool

In [12]:
df[filt]

   second first   email
2  Markow  Dima  gbbhn@

In [13]:
df[df['second'] == 'Markow'] #same result

   second first   email
2  Markow  Dima  gbbhn@

In [14]:
df.loc[filt] #the same result as above

   second first   email
2  Markow  Dima  gbbhn@

In [15]:
df.loc[filt, 'email'] #email of someone whos secon name == Markow

2    gbbhn@
Name: email, dtype: object

In [18]:
filt = ((df['second'] == 'Markow') | (df['first'] == 'Corney'))
df.loc[filt]

   second   first   email
0  Spiler  Corney    ssd@
2  Markow    Dima  gbbhn@

In [19]:
df.loc[~filt, 'email']

1    sdfd@
Name: email, dtype: object