In [1]:
import pandas as pd
people = {
    "first": ["Corney", "Jane", "Dima"], 
    "second": ["Spiler", "Doe", "Markow"], 
    "email" : ["ssd@", "sdfd@", "gbbhn@"]
}

In [2]:
df = pd.DataFrame(people)
df

    first  second   email
0  Corney  Spiler    ssd@
1    Jane     Doe   sdfd@
2    Dima  Markow  gbbhn@

In [3]:
df.set_index('second') #set as index second name, if we want to provide changes inplase = True

         first   email
second
Spiler  Corney    ssd@
Doe       Jane   sdfd@
Markow    Dima  gbbhn@

In [4]:
df.set_index('second', inplace=True)

In [5]:
df

         first   email
second
Spiler  Corney    ssd@
Doe       Jane   sdfd@
Markow    Dima  gbbhn@

In [7]:
df.loc['Markow', 'email']

'gbbhn@'

In [8]:
df.reset_index(inplace=True)
df

   second   first   email
0  Spiler  Corney    ssd@
1     Doe    Jane   sdfd@
2  Markow    Dima  gbbhn@